[Unit]
Description=Perform Btrfs maintenance actions
Documentation=man:btrfs

[Timer]
OnUnitActiveSec=90min
RandomizedDelaySec=10min
Persistent=true

[Install]
WantedBy=timers.target
