[Unit]
Description=Perform Btrfs maintenance actions
Documentation=man:btrfsd

[Timer]
OnUnitActiveSec=62min
RandomizedDelaySec=6min
Persistent=true

[Install]
WantedBy=timers.target
